{% extends 'home/base.html' %}
{% block content %}
<div class="container" style="padding: 20px; ">
    <h5> Share your today's best moment with a photo!</h5>
    <p>That maybe Landscape when you went for a stroll, or some foods you ate for lunch, and a cat you discovered when you went to work. </p>
    <p>Then, you can feel special in your daily routine!</p>
    <button type="button" class="btn btn-outline-secondary btn-sm" onClick="location.href='{% url 'home:post_create' %}'">Write</button>
    <button type="button" class="btn btn-outline-secondary btn-sm" onClick="location.href='{% url 'accounts:login' %}'">Login</button>

    <hr />
    <p>Administrator</p>
    <p>
        email: dahye8043@gmail.com
    </p>
        <p>if you discovered error, please send a DM to 'dh___aye' @instagram or above email</p>
    <br/>
    <br />
    <p>opening date: 2020-05-15</p>

</div>
{% endblock %}