{% extends 'home/base.html' %}
{% block content %}
<div class="row" style="width: 100%">
    {% if object_list %}
    {% for p in object_list %}
    <div class="list col-md-4 col-lg-3">
        <div class="img-thumbnail" style="padding-left:8px; padding-right:8px;">
            <a href="{% url 'home:post_detail' p.pk %}">
            <img src={{ p.image.url }} width="100%" height="100%" alt="...">
            </a>
            <div class="caption">
                <h4><a href="{% url 'home:post_detail' p.pk %}" style="text-decoration: none;">{{ p.title }}</a></h4> {% if p.comment_set.count >= 1 %}
                <span class="badge badge-pill badge-light float-right"><p>({{ p.comment_set.count }})</p></span>
                {% endif %}
                {% if p.like_count >= 1 %}
                <p><i class="fas fa-splotch primary float-right">({{ p.like_count }})</i></p>
                {% endif %}
                <span class="badge badge-pill badge-secondary">author:</span>
                <span class="badge badge-success"><a href="{% url 'home:post_list_user' p.author.username %}" style="color: white; ">{{ p.author }}</a></span>
                <p>{{ p.content | truncatewords:20 }}</p>
                <a href="{% url 'home:post_detail' p.pk %}"><span class="label label-success">detail<i class="fas fa-angle-right"></i></span></a>
            </div>
        </div>
        <br />
    </div>
    {% endfor %}
    {% else %}
    <h1 class="container">No Post</h1>
    {% endif %}
</div>
{% if is_paginated %}
<div >
    <ul class="pagination pagination-sm">
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">< Older</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">< Older</a>
        </li>
        {% endif %}
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Latest ></a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">Latest ></a>
        </li>
        {% endif %}
    </ul>
</div>
{% endif %}

{% endblock %}
