{% extends 'multiphoto/base.html' %}
{% block content %}
<div class="container" style="padding: 20px; ">
    <h5>Share your Happy daily routine with photos!</h5>
    <p>'MULTI' page is possible to share multiple images</p>
    <p>You can upload up to 7 photos</p>
    <button type="button" class="btn btn-outline-secondary btn-sm" onClick="location.href='{% url 'multiphoto:multi_create' %}'">Write</button>
    <button type="button" class="btn btn-outline-secondary btn-sm" onClick="location.href='{% url 'multiphoto:index' %}'">Look around</button>
    <hr />
    <p>Administrator</p>
    <p>
        email: dahye8043@gmail.com
    </p>

    <br/>
    <br />
    <p>opening date: 2020-05-15</p>

</div>
{% endblock %}