<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>사진첩</title>
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'home/css/custom.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/reset.css' %}">
    <script src="https://kit.fontawesome.com/b962c21d10.js" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="padding: 0.5rem ">
    <div>
        <a class="navbar-brand title" href="{% url 'multiphoto:index' %}">multi</a>
        <a style="margin-right: 20px; " href="{% url 'multiphoto:multi_about' %}">ABOUT</a>
        <a href="{% url 'home:index' %}" class="text-success" style="float: right;">HOME</a>
        <div class="collapse navbar-collapse container" id="navbarColor03">
            <div class="btn-group">
                <a href="{% url 'multiphoto:multi_create' %}">Write<i class="fas fa-pen"></i></a>
            </div>
            <div class="btn-group">
                {% if user.is_authenticated %}
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-heart"></i>  My<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url 'multiphoto:my_multi_list' %}">My Multi Posts</a></li>
                    <li><a href="{% url 'multiphoto:my_multi_comment_list' %}">My Comments </a></li>
                    <li><a href="/accounts/logout/">Logout</a></li>
                </ul>
                {% else %}
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Menu <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url 'home:about_page' %}">About</a></li>
                    <li><a href="/accounts/login/">Login</a></li>
                    <li><a href="/accounts/signup/">Sign up</a></li>
                </ul>
                {% endif %}
            </div>
        </div>

    </div>

</nav>
{% block content %}{% endblock %}

<script src="{% static 'home/js/jquery.min.js' %}"></script>
<script src="{% static 'home/js/popper.min.js' %}"></script>
<script src="{% static 'home/js/bootstrap.min.js' %}"></script>
<script src="{% static 'home/js/custom.js' %}"></script>


</body>
</html>